<div class="bg-info p-2 text-center text-white">
  <h3>Tiendita Admin</h3>
  <div
    class="bg-danger mt-2 p-2 text-center text-white"
    *ngIf="errorMessage != null"
  >
    {{ errorMessage }}
  </div>
  <div class="p-2">
    <form novalidate #form="ngForm" (ngSubmit)="authenticate(form)">
      <div class="form-group">
        <label for="">Name</label>
        <input
          type="text"
          name="username"
          [(ngModel)]="username"
          class="form-control"
          requiered
        />
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          class="form-control"
          requiered
        />
      </div>
      <div class="text-center">
        <button class="btn btn-secondary m-1" routerLink="/">Go Back</button>
        <button type="submit" class="btn btn-priamry m-1">Log in</button>
      </div>
    </form>
  </div>
</div>
